<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weltkarte mit Wetterdaten</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div id="map"></div>
    <div id="sidebar">
        <div class="field">
            <label for="latitude">Breitengrad:</label>
            <input type="text" id="latitude" placeholder="z.B. 48.060639">
        </div>
        <div class="field">
            <label for="longitude">Längengrad:</label>
            <input type="text" id="longitude" placeholder="z.B. 8.534250">
        </div>
        <div class="field">
            <label for="radius">Radius: <span id="radiusValue">50</span> km</label>
            <input type="range" id="radius" min="1" max="100" step="1" value="50" oninput="updateRadiusValue()">
            <div class="slider-labels">
                <span>1</span>
                <span>100</span>
            </div>
        </div>

        <div class="field">
            <label>Zeitraum:</label>
            <div class="year-container">
                <input type="number" id="yearFrom" min="1800" max="2025">
                <span>bis</span>
                <input type="number" id="yearTo" min="1800" max="2025">
            </div>
        </div>

        <div class="field">
            <label for="maxStations">Anzahl Ergebnisse:</label>
            <input type="number" id="maxStations" placeholder="z.B. 5" min="1" max="10" step="1" onblur="validateMaxStations()">
        </div>

        <button onclick="findStationsInRadius()">Suche Wetterstationen</button>
    </div>
    <div id="loadingAnimation">
        <span class="weather-icon">❄️</span>
        <span class="weather-icon">☀️</span>
        <span class="weather-icon">🌧️</span>
        <p>Suche nach Stationen...</p>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'JS/script.js' %}" defer></script>

</body>
</html>
