body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}
#map {
    height: 100vh;
    width: 100%;
}
#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    background-color: rgba(64, 220, 255, 0.6);
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
#sidebar h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
#sidebar .field {
    margin-bottom: 20px;
}
#sidebar label {
    color: white;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
#radiusValue {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
#sidebar input[type="range"] {
    width: 100%;
}
#sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #008b8b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
#sidebar button:hover {
    background-color: #006b6b;
}

.year-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen den Dropdowns und dem "bis"-Text */
}

.year-container select {
    flex: 1; /* Beide Dropdowns teilen sich gleichmäßig den verfügbaren Platz */
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

